@import url('https://fonts.googleapis.com/css2?family=Autour+One&family=Gabarito:wght@400;700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');
h1{
    font-family: "Lato", sans-serif;
}

@font-face {
    font-family: "Raleway";
    src: url(../font/Raleway-VariableFont_wght.woff),
    src: url(../font/Raleway-VariableFont_wght.ttf) format(truetype);
}
section{
    font-family: "Raleway", sans-serif;
}

body{
    
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 1660px;

}

#name{

    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #782221;
}

img{
    border-radius: 50%;
    border: 2px solid;
    box-shadow: 0px 0px 10px 10px rgb(75, 19, 19);
    cursor: zoom-in;
}

#address{
    background-color: #2c1d27;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}
a{
    text-decoration: none;
    color: white;
}

#me{
    background-color: #782221;
    color: white;
    width: 30%;
    height: 900px
}

#section{
    display: flex;
    flex-direction: row;
    width: 800;
}

#experience{
    background-color: white;
    color: black;
    width: 70%;
    font-weight: bold;
}

footer{
    background: url(../media/linkedin_1.ico) no-repeat bottom 55px right 920px / 40px,
     url(../media/twitter_1.ico) no-repeat bottom 55px center  / 40px,
     url(../media/github_1.ico)  no-repeat bottom 55px left 920px / 40px;
     background-color: #782221;
     height: 120px;
     display: flex;
     justify-content: center;
     align-items: end;
}

h3{
    background-color: #dbc2a4;
    color: black;
    width: 90%;
}